<div class="row">
  <div class="col-xs-12 col-md-12 mb-2">
    <h4>Products</h4>
    <table class="table table-bordered table-sm dataTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Model Number</th>
        <th>Serial Number</th>
        <th>Name</th>
        <th>Received Date</th>
        <th>Action Record</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><a href="<%= products_path id: product.id %>"><%= product.id %></a></td>
          <td><%= product.model_number %></td>
          <td><%= product.serial_number %></td>
          <td><%= product.name %></td>
          <td class="small"><%= product.created_at %></td>
          <td class="w-50">
            <% product.product_actions.each do |pa| %>
              <button data-toggle='tooltip' title='<%= pa.get_tooltip %>' class="btn btn-sm btn-primary"><%= pa.type %></button> >
            <% end %>
            <button class="btn btn-sm btn-primary">Completed</button>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>






  </div>

</div>