<div id="customer_form" class="col-12 mb-2 collapse"><%= form_with(model: customer, local: true, class: 'form-inline') do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= form.text_field :name, class: 'form-control', placeholder: :name %>
    <%= form.submit class: 'btn btn-primary'%>

<% end %>
</div>
