<div id="product_form" class="col-12 mb-2 collapse"><%= form_with(model: product, local: true, class: 'form-inline') do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




    <%= form.text_field :model_number, class: 'form-control', placeholder: :model_number %>

    <%= form.text_field :serial_number, class: 'form-control', placeholder: :serial_number %>

    <%= form.text_field :name, class: 'form-control', placeholder: :name %>
    <%= form.submit class: 'btn btn-primary'%>

<% end %>
</div>
