<div class="row">
  <div class="modal fade" id="add_action" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <select class="nav form-control" onchange="show_select_tab(this);">
            <option disabled selected>Select An Action</option>
          <% @actions.each do |a| %>
              <% if not a.automatic? %>
              <option data-target="#<%= a.name %>" class="nav-item"><a data-toggle="tab" href="#<%= a.name %>" class="nav-link"><%= a.name %> </a></option>
                <% end %>
          <% end %>
          </select>
          <div class="tab-content">
            <% @actions.each do |a| %>

              <% if not a.automatic? %>
            <div class="tab-pane fade" id="<%= a.name %>">
              <h3>Log <%= a.name %> action</h3>
              <% @a = a.new %>
              <%= form_for @a, class: 'form' do |f| %>
                <input type="hidden" class="product_id" name="<%= a.name.downcase %>[product_id]"/>
                <% @a.form_fields.each do |cn| %>


                      <%= f.label cn %>

                      <% if a.columns_hash[cn.to_s].type == :text %>
                        <%= f.text_area cn, class: 'form-control' %>
                        <% else %>
                        <%= f.text_field cn, class: 'form-control' %>
                      <% end %>






              <% end %>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Confirm Action</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            <% end %>
                </div>
                <% end %>
            <% end %>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 mb-2">
    <h4>Products</h4>
    <table class="table table-bordered table-sm dataTable">
      <thead>
      <tr>
        <th>ID</th>
        <th>Model Number</th>
        <th>Serial Number</th>
        <th>Name</th>
        <th>Received Date</th>
        <th>Action Record</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><a href="<%= products_path id: product.id %>"><%= product.id %></a></td>
          <td><%= product.model_number %></td>
          <td><%= product.serial_number %></td>
          <td><%= product.name %></td>
          <td class="small"><%= product.created_at %></td>
          <td class="w-50">
            <% product.product_actions.each do |pa| %>
              <button data-toggle='tooltip' title='<%= pa.get_tooltip %>' class="btn btn-sm btn-primary"><%= pa.type %></button> >
            <% end %>
            <button class="btn btn-sm btn-primary" onclick='addAction(<%= product.to_json.html_safe %>, <%= product.product_actions.map{|pa| pa.type}.to_json.html_safe %>)'><i class="fa fa-plus"></i></button>
          </td>
        </tr>
      <% end %>
      </tbody>

    </table>
    <div class="row">
      <div class="col-12 text-center mb-3">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#customer_form">
          Add new customer
        </button>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#product_form">
          Add new product
        </button>
      </div>

      <%= render 'customer_form', customer: @customer %>
      <%= render 'form', product: @product %>
    </div>





  </div>

</div>

