<%= form_with(model: product_action, local: true) do |form| %>
  <% if product_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_action.errors.count, "error") %> prohibited this product_action from being saved:</h2>

      <ul>
      <% product_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
