<p id="notice"><%= notice %></p>

<h1>Product Actions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_actions.each do |product_action| %>
      <tr>
        <td><%= link_to 'Show', product_action %></td>
        <td><%= link_to 'Edit', edit_product_action_path(product_action) %></td>
        <td><%= link_to 'Destroy', product_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Action', new_product_action_path %>
