<%= form_with(model: product, local: true, class: 'form-inline') do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :model_number, class: 'label' %>
    <%= form.text_field :model_number, class: 'form-control' %>
    <%= form.label :name, class: 'label' %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
