<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-4 p-1">
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th colspan="2">Product Details</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>ID</th>
        <td><%=@product.id%></td>
      </tr>
      <tr>
        <th>Model Number</th>
      <td><%=@product.model_number%></td>
      </tr>
        <th>Serial Number</th>
      <td><%=@product.serial_number%></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%=@product.name%></td>
      </tr>
      <tr>
        <th>Received Date</th>
        <td><%=@product.created_at%></td>
      </tr>

      </tbody>

    </table>

  </div>
  <div class="col-8 p-1">

    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th>Product History</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
      </thead>
      <tbody>
      <% @product.product_actions.each do |pa| %>
      <tr>
        <td><%=pa.type %></td>
        <td><%=pa.date %></td>
        <td><% pa.form_fields.each do |ff | %>
            <p><%= ff.to_s.humanize %>: <%= pa.attributes[ff.to_s] %></p>
      <% end %>

            </td>
      </tr>
      <% end %>

      </tbody>

    </table>
  </div>
</div>

