<!DOCTYPE html>
<html>
  <head>
    <title>ReconoIM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-dismissable alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-dismissable alert-danger"><%= alert %></p>
  <% end %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Recono Inventory Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item <% if controller_name == 'home'%>active<%end%>">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item <% if controller_name == 'history'%>active<%end%>">
          <a class="nav-link" href="/history">Product History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Customers</a>
        </li>
        <% if current_user&.is_admin? %>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
          <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path, class: 'nav-link')  %>
          </li>
        <% end %>
      </ul>
    </div>

  </nav>
<div id="#container" class="container">
  <%= yield %>
</div>
  </body>
</html>
